<html>

<head>
	<title>AngularJS First Application</title>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/app.js"></script>
	<script type="text/javascript" src="../lib/jquery-1.8.0.min.js"></script>
	  <script type="text/javascript" src="../lib/bootstrap.min.js"></script> 
</head>
<body ng-app="event">
<div>

<button ng-model="countNumber" ng-click="count=count+1" ng-init="count=1">Click Here To Increment</button><br>
<b>The current count is </b> : {{count}}

{{countNumber}}
</div>
<div ng-controller="showHideEventCtrl">
	
<input type="button" value="button" ng-click="showHide()" />
<div ng-show="isVisible">Angular</div>
</div>
</body>
</html>