<html>

<head>
	<title>AngularJS First Application</title>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/app.js"></script>
	<script type="text/javascript" src="../lib/jquery-1.8.0.min.js"></script>
	  <script type="text/javascript" src="../lib/bootstrap.min.js"></script> 
</head>
<body ng-app="event">
<div>

<button ng-model="countNumber" ng-click="count=count+1" ng-init="count=1">Click Here To Increment</button><br>
<b>The current count is </b> : {{count}}

{{countNumber}}
</div>

<div>
<h1 ng-mousemove="count = count + 1" ng-init="count=0">Mouse Over Me!</h1>

<h2>{{ count }}</h2>

</div>

<div ng-controller="showHideEventCtrl">
	
<input type="button" value="button" ng-click="showHide()" />
<div ng-show="isVisible">Angular</div>

</div>
<div>
<h1 ng-mousemove="myFunc($event)">Mouse Over Me!</h1>
</div>
<div ng-controller="myCtrl">

<button ng-click="myFunc()">Click Me!</button>

<div ng-show="showMe">
    <h1>Menu:</h1>
    <div>Pizza</div>
    <div>Pasta</div>
    <div>Pesce</div>
</div>

</div>
<p>Click the button to show/hide the menu.</p>
<form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="dogs">Dogs
  <input type="radio" ng-model="myVar" value="tuts">Tutorials
  <input type="radio" ng-model="myVar" value="cars">Cars
</form>
<div ng-switch="myVar">
  <div ng-switch-when="dogs">
     <h1>Dogs</h1>
     <p>Welcome to a world of dogs.</p>
  </div>
  <div ng-switch-when="tuts">
     <h1>Tutorials</h1>
     <p>Learn from examples.</p>
  </div>
  <div ng-switch-when="cars">
     <h1>Cars</h1>
     <p>Read about cars.</p>
  </div>
</div>

</body>
</html>