<html>

<head>
    <title>AngularJS First Application</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/app.js"></script>
    <script type="text/javascript" src="../lib/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <style>
        table,th,td {
            border: 5px solid black;
            padding: 5px;
        }


    </style>
</head>

<body>
    <div ng-app="sunny" ng-controller="sunnyCtrl">
        <b>--------We are adding multiple lines in a single variable------------</b>

        <br \>
        <br \>
        {{c}}
        <b>Message ::</b> <textarea cols="50" ng-model="message"></textarea><br>
        <b>-----Here we are getting value from controller-------</b>
        <h6><b>Designation :: </b> {{designation }}</h6>
        <b>------Here we are using ng-model as directive-----</b>
        <p>Enter your Name: <input type="text" ng-model="name"></p>
        <p>The value which is being type in textbox :: <b>{{name}}</b></p>
        <b>Here we are calling the function and giving the values</b>
        <p>Hello {{fullName("Sunny","99")}} !</p>

        <b>-----Here we are using loop to print values----</b>
        <input type="text" ng-model="test">
        <ul>
            <li ng-repeat="fastFood in records.values | filter:test | orderBy:'name' ">
                Fruits :: {{fastFood.name +"," + fastFood.type}}
            </li>
        </ul>
        <div>

            <table>
            <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                <tr ng-repeat="fastFood in records.values ">
                <td>{{$index+1}}</td>
                    <td> {{fastFood.name |uppercase }}   </td>

                    <td> {{fastFood.type | lowercase}}  </td>

                </tr>


            </table>
        </div>





        <b>------Here we are using multiple controller------</b>
        <div ng-controller="sunnyNewCtrl">
            <h4>Age : {{age}}</h4>

            <b>----- Here we are applying checkbox </b>
            <div ng-controller="checkboxCtrl">
                <input type="checkbox" ng-model="values.controller ">Controller <br>

                <input type="checkbox" ng-model="values.scope">Scope <br>

                <b>----- Here we are applying selectbox list </b>
                <br>
                <div ng-controller="selectboxCtrl">
                    <select ng-model="listOfValues" ng-options="x for (x, y) in names">
                    </select> <br>
                    <h3>  Hi You selected {{listOfValues }} </h3>
                    <b>----------------Another way to Define select box--------- </b><br>
                    <select>
                        <option ng-repeat="x in list">{{x}}</option>

                    </select>
                   
                    <div ng-init="one=4;two=5">
                       First Value:  <input type="number" ng-model="one">
                       Second Value: <input type="number" ng-model="two">
                       <br><b>Total :</b> {{ one * two }}
                   </div>
                   <div ng-init="person={firstName :'Sunny',lastName:'Mittal'}">
                    Full Name : {{person.firstName + " " + person.lastName | uppercase}} 
                </div>
                <div ng-init="marks=[1,5,9]">
                   Array Value : {{ marks[2]}}
               </div>
           </div>
       </div>
   </div>
</div>
</body>

</html>