<html>

<head>
    <title>AngularJS First Application</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/app.js"></script>
    <script type="text/javascript" src="../lib/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.js"></script>
</head>

<body>
    <div ng-app="sunny" ng-controller="sunnyCtrl">
        <b>--------We are adding multiple lines in a single variable------------</b>

        <br \>
        <br \>
        <b>Message ::</b> <textarea cols="50" ng-model="message"></textarea><br>
        <b>-----Here we are getting value from controller-------</b>
        <h6><b>Designation :: </b> {{designation}}</h6>
        <b>------Here we are using ng-model as directive-----</b>
        <p>Enter your Name: <input type="text" ng-model="name"></p>
        <p>The value which is being type in textbox :: <b>{{name}}</b></p>
        <b>Here we are calling the function and giving the values</b>
        <p>Hello {{fullName("Sunny","99")}} !</p>
        <b>-----Here we are using loop to print values----</b>
        <ul>
            <li ng-repeat="fastFood in records.values">
                Fruits :: {{fastFood.name}}
            </li>
        </ul>
        <div ng-controller="sunnyNewCtrl">
            <b>------Here we are using multiple controller------</b>
            <h4>Age : {{age}}</h4>
            <b>----- Here we are applying checkbox </b>
            <div ng-controller="checkboxCtrl">
                <input type="checkbox" ng-model="values.controller">Controller <br>
                <input type="checkbox" ng-model="values.scope">Scope
            </div>
        </div>
    </div>
</body>

</html>